
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Details", "Aggregator", new {id = 1})'">Get User Order details</button>
        <br />
        <br />

        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Error", "Aggregator")'">Get Error for tracing</button>
        <br />
        <br />

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
